@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: hsl(0, 0%, 9%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



button{
  cursor: pointer;
}


/* swiper css */
.swiper {
  width: 100%;
  height: 100%;
}


.swiper-button-next, .swiper-button-prev {
  border-radius: 50%;
  width: 34px!important; /* Adjust the size as needed */
  height: 34px!important; /* Adjust the size as needed */
  background: rgb(255, 255, 255)!important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px!important;
  border: 4px solid transparent;
  color: black; /* Change arrow color to black */
  z-index: 9999 !important;
}

.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 13.5px!important;
  color: black; /* Ensure the arrow color is black */
  font-weight: bold!important;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}


/* scrollbar customization */
::-webkit-scrollbar {
  width: 12px;
  height: 5px;
  /* display: none; */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f9f9f9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e1e0e0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cccaca;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:active {
  background: #aaa9a9;
}

/* In your global CSS file */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}